<%= form_with model: @food, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </p>
  <p>
    <%= form.label :comment %>
    <%= form.text_area :comment, required: false %>
  </p>
  <p>
    <%= form.file_field :image, accept: "image/png,image/jpeg,image/gif" %>
  </p>
  <p>
    <%= form.submit "送信" %>
  </p>
<% end %>
